<?xml version="1.0" encoding="utf-8" ?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
		<arguments>
			<argument name="addFieldStrategies" xsi:type="array">
				<item name="stock_status" xsi:type="object">Magepow\Preview\Ui\DataProvider\Product\Stock</item>
			</argument>
		</arguments>
	</type>
	<preference for="Magento\Catalog\Block\Adminhtml\Category\Tab\Product" type="Magepow\Preview\Block\Adminhtml\Category\Tab\Product" />
</config>